[Desktop Entry]
Version=1.0
Type=Application
Name=OneDrive
Comment=Open OneDrive in Chromium
Exec=chromium --app=https://onedrive.live.com/?view=1
Icon=webapp-onedrive
Terminal=false
Categories=Network;FileTransfer;
Keywords=onedrive;cloud-storage;chrome-onedrive.live.com__-Default;
StartupNotify=true
StartupWMClass=chrome-onedrive.live.com__-Default
