[Desktop Entry]
Version=1.0
Type=Application
Name=WhatsApp Web
Comment=Open WhatsApp as a web app
Exec=chromium --app=https://web.whatsapp.com/
Icon=webapp-whatsapp
Terminal=false
Categories=Network;InstantMessaging;
Keywords=whatsapp;chat;chrome-web.whatsapp.com__-Default;
StartupNotify=true
StartupWMClass=chrome-web.whatsapp.com__-Default
